@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto+Condensed&family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 45%;
}

body {
    color: white;
    overflow-x: hidden;
    background: #111;
    padding-left: 41.7rem;
}

section h1 {
    position: relative;
    top: 15px;
    left: -7px;
    color: #fff;
    font-family: 'Roboto Mono';
    font-size: 4rem;
    text-align: left;
    padding: 1rem;
    margin: 0 6rem;
}

section h4::before {
    content: '';
    height: 3.3px;
    width: 50px;
    background-color: rgb(0, 216, 187);
    border-radius: 1px;
    position: absolute;
    top: 60px;
    left: 345px;
}

section h4::after {
    content: '';
    height: 3.3px;
    width: 25px;
    background-color: rgb(0, 216, 187);
    border-radius: 1px;
    position: absolute;
    top: 70px;
    left: 345px;
}

/* Sidebar */
.sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(34, 34, 34);
    transition: 1s;
    z-index: 9999;
}

.sidebar .top-header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.saya {
    position: relative;
    top: 40px;
    width: 120px;
    height: 120px;
    border: 3px solid rgb(0, 216, 187);
    border-radius: 50%;
}

.top-header h1 {
    position: relative;
    top: 40px;
    font-family: 'Poppins';
    font-size: 25px;
    background-color: white;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}

.top-header h3 {
    position: relative;
    top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: rgb(0, 216, 187);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.sidebar .main-header {
    height: 80%;
    padding: 0 30px;
}

.main-header ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.main-header ul li {
    width: 100%;
    padding: 3px;
}

.main-header ul li a {
    position: relative;
    top: 40px;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: #efefef;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid rgb(0, 216, 187);
}

.main-header ul li a:hover {
    transform: translateX(20px);
}

.main-header ul li a i {
    padding-right: 2px;
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background-color: #333;
    color: rgb(0, 216, 187);
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 10000;
    display: none;
}

/* Friend */
.friend .box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15rem 6rem;
    gap: 31px;
}

.friend .box-container .box {
    flex-wrap: wrap;
    border-radius: 5%;
    padding: 50px 50px;
    background-color: #333;
    box-shadow: 5px 5px 20px rgb(150, 132, 132);
    width: 250px;
    height: 350px;
}

.friend .box-container .box h3 {
    position: relative;
    top: -30px;
    left: -42px;
    width: 230px;
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid rgb(0, 216, 187);
}

.friend .box-container .box .friend {
    position: relative;
    top: -35px;
    padding-left: 25px;
}

.friend .box-container .box img  {
    border: 3px solid rgb(0, 216, 187);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.friend .box-container .box p {
    width: 245px;
    position: relative;
    top: -20px;
    left: -50px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 0;
}

.friend .box-container .box .icon{
    padding-left: 41px;
}

.friend .box-container .box .icon i {
    padding-left: 10px;   
    font-size: 20px;
    color: rgb(0, 216, 187);
}

/* Footer */
.footer{
    position: relative;
    top: 180px;
    width: 100%;
    height: 100%;
    padding: 40px 0;
    background-color: rgb(34, 34, 34);
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .social a{
    padding-top: 3px;
    font-size: 24px;
    color: inherit;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    text-decoration: none;
}

.footer .social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a{
    color: white;
}

.footer ul li a:hover{
    opacity: 1;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: white;
}




@media (max-width:1200px){   
}

@media (max-width:991px){   
    .sidebar {
        left: -120%;
    }

    #menu {
        display: block;
    }

    .sidebar.toggle {
        left: 0%;
    }

    body {
        padding: 0;
    }
    section h4::before {
        position: absolute;
        right: 10px;
        left: 45px;
    }

    section h4::after {
        position: absolute;
        left: 45px;
    }
}

@media (max-width:400px){
    .sidebar {
        width: 100vw;
    }

    section h4::before {
        position: absolute;
        left: 45px;
        top: 60px;
    }

    section h4::after {
        position: absolute;
        left: 45px;
        top: 70px;
    }
}